<div layout="column" layout-align="center center" ng-controller="AddNACHDonationCtrl as addExDon" >
        <h3 align="center">Add NACH donations</h3>
    <span ng-show="addExDon.is_processing"><br><md-progress-circular  md-mode="indeterminate"></md-progress-circular></span>

    <form name="addExDon.donationForm" layout="column" ng-submit="addExDon.addExDonation()" novalidate>
        <md-input-container>
            <label>Donor Name</label>
            <input name="name" label="Name" ng-model="addExDon.donation.name" required>
        </md-input-container>

        <md-input-container>
            <label>Monthly Donation Amount</label>
            <input name="amount" label="Amount" ng-model="addExDon.donation.amount" required ng-pattern="/^\d+$/">
        </md-input-container>

        <md-input-container>
            <label>Donor Phone</label>
            <input name="phone" label="Phone" ng-model="addExDon.donation.phone" required type="tel" md-minlength="10" md-maxlength="15" ng-pattern="/^[\d \-\+\.]{10,15}$/">
        </md-input-container>

        <md-input-container>
            <label>Donor Email</label>
            <input name="email" label="Email" ng-model="addExDon.donation.email" type="email" required>
        </md-input-container>

        <md-input-container>
        <p>Donated on Date :</p>
        <input type="date" id="created_at" ng-model="addExDon.donation.created_at" md-placeholder="Donated On" required></input>
        </md-input-container>

        <md-input-container>
        <p>NACH Start Date :</p>
        <input type="date" ng-model="addExDon.donation.nach_start_on" md-placeholder="NACH Starts On" required></input>
        </md-input-container>

        <md-input-container>
        <p>NACH End Date :</p>
        <input type="date" ng-model="addExDon.donation.nach_end_on" md-placeholder="Until Cancelled"></input>
        </md-input-container>

        <md-button id="action" ng-disabled="!addExDon.validCheck() || addExDon.is_processing" class="md-raised" type="submit">Submit</md-button>

    </form>

    <!-- <div class="failsafe" ng-show="addExDon.is_error">
        <a href="{{addExDon.base_url}}apps/donut/failsafe/external-donations.php?fundraiser_id={{addExDon.fundraiser_id}}">Failsafe</a>
    </div> -->

    <span ng-show="addExDon.phone_absent"><p class="error">Phone is a mandatory field</p></span>
    <span ng-show="addExDon.email_absent"><p class="error">Email is a mandatory field</p></span>
    <span ng-show="addExDon.email_invalid"><p class="error">Invalid Email</p></span>
    <span ng-show="addExDon.phone_invalid"><p class="error">Phone number should be 10 to 15 digits in length</p></span>
    <span ng-show="addExDon.amount_invalid"><p class="error">Amount is not a valid number</p></span>
    <span ng-show="addExDon.created_at_invalid"><p class="error">Please enter a valid 'Donated on date'. Date should be after 31-March-2018 </p></span>
    <span ng-show="addExDon.nach_start_on_invalid"><p class="error">Please enter a valid 'NACH Start date'. Date should be after 'Donated on date'  </p></span>
    <span ng-show="addExDon.nach_end_on_invalid"><p class="error">Please enter a valid 'NACH End date'. Date should be after 'NACH Start date' </p></span>

</div>


