<div layout="column" ng-controller="DepositCtrl as ctrl" layout-margin layout-fill layout-padding id="deposit-page">
	<h3 align="center">Handover a Deposit to Coach / Fellow </h3>
	<span layout="row" ng-show="ctrl.is_processing" layout-align="center center"><br><br><br><md-progress-circular  md-mode="indeterminate"></md-progress-circular></span>

	<p align="center" ng-show="ctrl.error" style="color:red;">{{ctrl.error}}</p>

	<div ng-show="ctrl.show_mode == 'donation-list' && !ctrl.error">
		<p align="center">Select all the donations that you wish to include in the deposit...</p>

		<div ng-repeat="(key, donation_collection) in ctrl.donation_collection">
			<h5 ng-show="key == 'donations' && count(donation_collection)" align="center">Donations Raised By You...</h5>
			<h5 ng-show="key == 'approved_donations' && count(donation_collection)" align="center">Donations You Collected from Others...</h5>
			<div layout="row" layout-align="center center" ng-repeat="donation in donation_collection">
				<md-card flex-gt-lg="30" flex="100">
				<md-card-content>
					<table class="donation-info">
					<tr><td colspan="2">
						<md-checkbox ng-model="ctrl.include_donation[donation.id]" aria-label="Include">{{donation.donor}} - {{donation.amount}} Rs</md-checkbox>
						<span class="show-hide-info" ng-show="!ctrl.show_donation[donation.id]" ng-click="ctrl.show_donation[donation.id] = true">[show info...]</span>
						<span class="show-hide-info" ng-show="ctrl.show_donation[donation.id] == true" ng-click="ctrl.show_donation[donation.id] = false">[hide info...]</span>
					</td></tr>
					<tr ng-show="ctrl.show_donation[donation.id] == true"><td class="md-body-2">ID</td><td>{{donation.id}}</td></tr>
					<tr ng-show="ctrl.show_donation[donation.id] == true"><td class="md-body-2">Donor Name</td><td>{{donation.donor}}</td></tr>
					<tr ng-show="ctrl.show_donation[donation.id] == true"><td class="md-body-2">Amount</td><td><strong>{{donation.amount}} Rs</strong></td></tr>
					<tr ng-show="ctrl.show_donation[donation.id] == true"><td class="md-body-2">Date</td><td>{{donation.added_on | dateToISO | date : 'MMM d, y'}}</td></tr>
					<tr ng-show="ctrl.show_donation[donation.id] == true"><td class="md-body-2">Status</td><td>{{donation.status | statusFormat}}</td></tr>
					</table>
				</md-card-content>
				</md-card>
			</div>
		</div>

		<div layout="row" layout-align="center center" ng-show="ctrl.manager == 'National Finance'">
		<md-input-container>
            <label>Salesforce ID</label>
            <input name="deposit_information" label="Salesforce ID" ng-model="ctrl.deposit_information" type="text" required>
        </md-input-container>
    	</div>

		<div layout="row" layout-align="center center" 
				ng-show="ctrl.donation_count && ctrl.manager != 'National Finance' && !(ctrl.manager == 'Finance Fellow' && count(ctrl.city_managers) == 1)">
			<md-button class="md-raised md-primary" ng-click="ctrl.selectManager()">Select {{ctrl.manager}} for Handover</md-button>
		</div>
	</div>

	<div ng-show="ctrl.show_mode == 'manager-list'">
		<div layout="row" layout-align="center center">Select the {{ctrl.manager}} to hand over the selected donations to...</div>
		<div layout="row" layout-align="center center">
			<md-radio-group ng-model="ctrl.selected_manager">
				<md-radio-button ng-repeat="manager in ctrl.city_managers" ng-value="manager.id" label="{{manager.name}}">{{manager.name}}</md-radio-button>
			</md-radio-group>
		</div>

		</div>

		<div layout="row" layout-align="center center" 
				ng-show="ctrl.show_mode == 'manager-list' || ctrl.manager == 'National Finance' || (ctrl.manager == 'Finance Fellow' && count(ctrl.city_managers) == 1)">
			<md-button ng-show="!ctrl.error" ng-href="#deposit" class="md-raised md-primary" ng-click="ctrl.addDeposit()">{{ctrl.add_deposit_button_text}}</md-button>
		</div>

	</div>

</div>
