<br>
<div layout="column" layout-align="center center" layout-margin layout-padding >
    <div layout="row" layout-align="center center"> <md-button ng-href="#add-donation" class="md-raised md-primary" >Add Donation</md-button></div>
    <div layout="row" layout-align="center center"> <md-button ng-href="#view-donation" class="md-raised md-primary" >View Donation</md-button></div>
	<div layout="row" layout-align="center center"> <md-button ng-href="#external-donation" class="md-raised" >External Donation</md-button></div>
</div>
