.ng-invalid.ng-dirty {
    border-color: red;
}

.error {
    color:red;
}

.reduced {
    font-size: 70%;
}

.blue-color {
    color : #01579b;
}

.md-body-2 {
	font-weight:bold;
}

div[layout="row"] {
	height: 50px;
}
div .md-button span {
	color:#000;
}
div .md-button.md-primary span {
	color:#fff;
}

.md-dialog-container .md-button.md-primary span {
	color: #000;
}
.md-button.md-warn span {
	color: #fff;
}

.md-datepicker-calendar {
	background-color: #fff;
}

div .white span {
	color: white !important;
}

button[disabled] span {
	color: #666 !important;
}

#approval-page .md-body-2 {
	width:150px;
}
#deposit-page .md-body-2 {
	padding-left:50px;
	width:150px;
}

/*
#deposit-page .donation-info tr {
	display: none;
}
#deposit-page .donation-info tr.summary {
	display: table-row;
}*/
.show-hide-info {
	color: #666;
	font-size: 11px;
}
md-checkbox {
	display: inline;
}
